@import '../../style/themes/default';
@import '../../style/mixins';

$prefixCls : t-star;

.#{$prefixCls}{
    
    &-star-icon{
        color: $star-color;
        margin-right: $h-spacing-sm / 2;
    }
    
    &-star-o{
       color: $color-text-placeholder; 
    }
}
