@import '../../style/themes/default';
@import '../../style/mixins';

$prefixCls : t-stepper;

.#{$prefixCls}{
    &-hand-down,
    &-hand-up{
        display : inline-block;
        width : 30px;
        height : 30px;
        line-height : 30px;
        border : $border-width-sm solid $color-text-placeholder;
        border-radius : 30px;
        text-align : center;
        font-size: $font-size-subhead;
        color : $color-text-paragraph;
    }

    &-hand-down-disabled,
    &-hand-up-disabled{
        opacity : .3;
    }

    &-value-wrap{
        display : inline-block;
        min-width : 60px;
        vertical-align : middle;
        user-select : none;
        text-align : center;
    }

    &-value{
        
    }

    &-unit{
        
    }

    &-disabled{
        opacity : .3;
        .#{$prefixCls}-hand-down-disabled,
        .#{$prefixCls}-hand-up-disabled{
            opacity : 1;
        }
    }
}
