@import '../../style/themes/default';
@import '../../style/mixins';

$prefixCls : t-popup;

.#{$prefixCls} {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: $fill-base;
    z-index: $popupZIndex;

    &-slide-down {
        top: 0;
    }
    &-slide-up {
        bottom: 0;
    }

    &-wrap {
        position: fixed;
        overflow: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $actionSheetZIndex;
        overflow-scrolling: touch;
        outline: 0;
    }

    &-mask {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: $fill-mask;
        height: 100%;
        z-index: $popupZIndex;
        &-hidden {
          display: none;
        }
    }
    &-close {
        display: none;
    }
}
